
h1{
    font-size: 4rem;
    font-weight: 900;
    color: black;
}
h2{
    font-size: 2.5rem;
    font-weight: 900;
}

p{
    max-width: 400px;
    font-weight: 2px;
    color: black;
}

.homepage-div{
    padding-top: 75px;
}
.dash-image{
    padding-left: 160px ;
    padding-top: 30px;
}
.about{
    width: 44%;
}

.section-2{
    padding: 80px 0;
}

.event{
    margin: 0px 0px 24px;
}
.img1{
    border-radius: 24px;
    max-height: 480px;
    max-width: 384px;
    overflow: hidden;
    position: relative;
}

.container-img{
    display: flex;
    flex-flow: wrap;
    gap: 16px;
    justify-content: center;
}
img{
    height: 100%;
    object-fit: cover;
}

.section-4{
    margin-top: 100px;
    padding: 80px 0;
    background-color: #F1F1F1;
}

.text-div{
    position: absolute;
    top: 60%;
    left: 15px;
    padding: 10px;
    font-weight: 5rem;
    color: white;
}

.text-under-heading{
    font-weight: 700;
    font-size: 1.1rem;
}

.left{
    width: 40%;
    line-height: 2rem;
}

.section-5{
    margin-top: 100px;
    padding: 80px 0;
    background-color: #1E201E;
}
.section-5-h2{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
.section-5-right{
    width: 80%;
}
.section-5-heading{
    color: white;
}
.section-5-description{
    color: white;
}
.section-6{
    background-color: #F1F1F1;
}

