h1{
    font-size: 4rem;
    font-weight: 900;
    color: black;
}
h2{
    font-size: 2.5rem;
    font-weight: 900;
}
h6{
    font-size: 1.1rem;
}
h5{
    font-weight: 700;
}

.login-page{
    /* background: linear-gradient(to right, #f7f8f8, #acbb78); */
    /* background: linear-gradient(to right, #00416a, #e4e5e6); */
    /* background: linear-gradient(to right, #3e5151, #decba4); */
    /* background: linear-gradient(to right, #abbaab, #ffffff); */
    background: linear-gradient(to right, #649173, #dbd5a4);

}

.left-login{
    /* background-color: #E1F0DA; */
    /* background: linear-gradient(to right, #f7f8f8, #acbb78); */

    width: 768px;
    height: 635px;
}
.right-login{
    margin-top: 35px;
}

.login-text{
    width: 447px;
    margin-left: 111px;
}
.login-body{
    width: 73%;
}
.login-image{
    height: 60%;
    width: 683px;
    position: inherit;
    padding-left: 145px;
}

.brand{
    gap:2px;
    padding: 20px 50px

}
.right-text{
    padding: 60px 48px;
}
.right-body-text{
    padding: 12px 0px
}

.login-card{
    padding: 45px 0px;
}
.privacy{
    font-size: 0.8rem;
    font-weight: 600;
    width: 80%;
    margin-top: 10px;
}


