.navbar-expand-lg{
     /* background-color: #FFA62F; */
     /* background: linear-gradient(to right, #4b6cb7, #182848); */
     background: linear-gradient(to right, #00c6ff, #0072ff);
     height: 75px;
 }

 .navbar-brand{
    font-weight: 800;
    color: white;
 }
 .nav-item{
    font-weight: 800;
    color: white;
 }
 